{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <div class="col-8 mx-auto">
        <h2 class="border-bottom py-2">사용자 간 사양 비교</h2>
        <h2 class="border-bottom py-2">게시물 작성자</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ questioner_pcinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ questioner_pcinfo.ram }}</div>
                        <div class="card-text">OS : {{ questioner_pcinfo.fullos }}</div>
                        <div class="card-text">VIDEOCARD1 : {{ questioner_pcinfo.graphic1 }}</div>
                        <div class="card-text">VIDEOCARD2 : {{ questioner_pcinfo.graphic2 }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : {{ questioner_pcinfo.diskspace }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">{{ g.user.nickname }} 사용자</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ user_pcinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ user_pcinfo.ram }}</div>
                        <div class="card-text">OS : Windows {{ user_pcinfo.fullos }}</div>
                        <div class="card-text">VIDEOCARD1 : {{ user_pcinfo.graphic1 }}</div>
                        <div class="card-text">VIDEOCARD2 : {{ user_pcinfo.graphic2 }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : C: {{ user_pcinfo.cdisk }} | D: {{ user_pcinfo.ddisk }} | E: {{ user_pcinfo.edisk }} | F: {{ user_pcinfo.fdisk }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">비교 결과</h2>
        <!-- 아직 비워둠  cad_compare보고 차차 해야됨 -->
    </div>
</div>


{% endblock %}
{% block script %}

{% endblock %}