{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <div class="col-8 mx-auto">
        <h1 class="border-bottom py-2">사용자 간 사양 비교</h1>
        <h2 class="border-bottom py-2">게시물 작성자 {{ questioner_pcinfo.user.nickname }}</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ questioner_pcinfo.user_pcinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ questioner_pcinfo.user_pcinfo.ram }}</div>
                        <div class="card-text">OS : {{ questioner_pcinfo.user_pcinfo.fullos }}</div>
                        <div class="card-text">VIDEOCARD1 : {{ questioner_pcinfo.user_pcinfo.graphic1 }}</div>
                        <div class="card-text">VIDEOCARD2 : {{ questioner_pcinfo.user_pcinfo.graphic2 }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">{{ g.user.nickname }} 사용자</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ user_pcinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ user_pcinfo.ram }}</div>
                        <div class="card-text">OS : Windows {{ user_pcinfo.fullos }}</div>
                        <div class="card-text">VIDEOCARD1 : {{ user_pcinfo.graphic1 }}</div>
                        <div class="card-text">VIDEOCARD2 : {{ user_pcinfo.graphic2 }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : C: {{ user_pcinfo.cdisk }} | D: {{ user_pcinfo.ddisk }} | E: {{ user_pcinfo.edisk }} | F: {{ user_pcinfo.fdisk }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">비교 결과</h2>
       <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="compare_cpu">           <!-- CPU 비교 -->
                            {% if questioner_cpu.score %}
                                {% if user_cpu.score >= questioner_cpu.score %}
                                <div class="card-text text-primary">CPU : Your cpu is Better! / Your CPU score : {{ user_cpu.score }} /
                                    Questioner CPU score : {{ questioner_cpu.score }}</div>
                                {% else %}
                                <div class="card-text text-danger">CPU : Your cpu is Lower! / Your CPU score : {{ user_cpu.score }} /
                                    Questioner CPU score : {{ questioner_cpu.score }}</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary"> Questioner doesn't have CPU!! </div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_video">         <!-- 그래픽카드 비교 -->
                            {% if questioner_video.score %}
                                {% if user_video.score >= questioner_video.score %}
                                <div class="card-text text-primary">VIDEOCARD : Your Graphic is Better! / Your Graphic score : {{ user_video.score }} /
                                Questioner Graphic score : {{ questioner_video.score }}</div>
                                {% else %}
                                <div class="card-text text-danger">VIDEOCARD : Your Graphic is Lower / Your Graphic Card score : {{ user_video.score }} /
                                questioner Graphic Card score : {{ questioner_video.score }}</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">Questioner doesn't have Graphic Card!!</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_ram">           <!-- RAM 비교 -->
                            {% if questioner_pcinfo.user_pcinfo.ram %}
                                {% if user_pcinfo.ram >= questioner_pcinfo.user_pcinfo.ram %}
                                <div class="card-text text-primary">RAM : Your RAM is Better!</div>
                                {% else %}
                                <div class="card-text text-danger">RAM : Your RAM is Lower!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">Questioner doesn't have RAM!</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_os">            <!-- WINDOWS 버전 비교 /  XP<Vista<7<8<10 -->
                            {% if questioner_pcinfo.user_pcinfo.os %}
                                {% if questioner_pcinfo.user_pcinfo.os == 'XP' %}
                                <div class="card-text text-primary">OS : Your OS is Better!</div>
                                {% elif questioner_pcinfo.user_pcinfo.os == 'Vista' %}
                                    {% if user_pcinfo.os == 'XP' %}
                                        <div class="card-text text-danger">OS : Your OS is Lower!</div>
                                    {% else %}
                                        <div class="card-text text-primary">OS : Your OS is Better!</div>
                                    {% endif %}
                                {% elif questioner_pcinfo.user_pcinfo.os == '7' %}
                                    {% if ((user_pcinfo.os == 'Vista') or (user_pcinfo.os == 'XP')) %}
                                        <div class="card-text text-danger">OS : Your OS is Lower!</div>
                                    {% else %}
                                        <div class="card-text text-primary">OS : Your OS is Better!</div>
                                    {% endif %}
                                {% elif questioner_pcinfo.user_pcinfo.os == '8' %}
                                    {% if ((user_pcinfo.os == 'Vista') or (user_pcinfo.os == 'XP') or (user_pcinfo.os == '7')) %}
                                        <div class="card-text text-danger">OS : Your OS is Lower!</div>
                                    {% else %}
                                        <div class="card-text text-primary">OS : Your OS is Better!</div>
                                    {% endif %}
                                {% elif questioner_pcinfo.user_pcinfo.os == '9' %}
                                    {% if ((user_pcinfo.os == '9') or (user_pcinfo.os == '10')) %}
                                        <div class="card-text text-primary">OS : Your OS is Better!</div>
                                    {% else %}
                                        <div class="card-text text-danger">OS : Your OS is Lower!</div>
                                    {% endif %}
                                {% elif questioner_pcinfo.user_pcinfo.os == '10' %}
                                    {% if user_pcinfo.os == '10' %}
                                        <div class="card-text text-primary">OS : Your OS is Better!</div>
                                    {% else %}
                                        <div class="card-text text-danger">OS : Your OS is Lower!</div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                    <div class="card-text text-danger">ERROR</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="diskspace">
                            <div class="card-text text-primary">Please check the disk space individually.</div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>


{% endblock %}
{% block script %}

{% endblock %}