{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <div class="col-8 mx-auto">
        <h1 class="border-bottom py-2">사용자 간 사양 비교</h1>
        <h2 class="border-bottom py-2">답변 작성자</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ answerer_pcinfo.cpu }}</div>
                        <div class="card-text">VIDEOCARD1 : {{ answerer_pcinfo.graphic1 }}</div>
                        {% if answerer_pcinfo.graphic2 %}
                            <div class="card-text">VIDEOCARD2 : {{ answerer_pcinfo.graphic2 }}</div>
                        {% endif %}

                        <div class="card-text">RAM(GB) : {{ answerer_pcinfo.ram }}</div>
                        <div class="card-text">Windows OS : {{ answerer_pcinfo.fullos }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">{{ g.user.nickname }} 사용자</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ user_pcinfo.cpu }}</div>
                        <div class="card-text">VIDEOCARD1 : {{ user_pcinfo.graphic1 }}</div>
                        {% if user_pcinfo.graphic2 %}
                            <div class="card-text">VIDEOCARD2 : {{ user_pcinfo.graphic2 }}</div>
                        {% endif %}

                        <div class="card-text">RAM(GB) : {{ user_pcinfo.ram }}</div>
                        <div class="card-text">Windows OS : {{ user_pcinfo.fullos }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : C: {{ user_pcinfo.cdisk }} | D: {{ user_pcinfo.ddisk }} | E: {{ user_pcinfo.edisk }} | F: {{ user_pcinfo.fdisk }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">비교 결과</h2>
       <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div>           <!-- CPU 비교 -->
                            {% if answerer_cpu.score %}
                                {% if user_cpu.score > answerer_cpu.score %}
                                    <div class="card-text text-primary">CPU : Your CPU is Better! / Your CPU score : {{ user_cpu.score }} /
                                    Answerer's CPU score : {{ answerer_cpu.score }}</div>
                                {% elif user_cpu.score == answerer_cpu.score %}
                                    <div class="card-text text-primary">CPU : Each other's CPU score is same! / Your CPU score : {{ user_cpu.score }} /
                                    Answerer's CPU score : {{ answerer_cpu.score }}</div>
                                {% else %}
                                    <div class="card-text text-danger">CPU : Your CPU is Worse! / Your CPU score : {{ user_cpu.score }} /
                                    Answerer's CPU score : {{ answerer_cpu.score }}</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary"> Answerer doesn't have CPU!! </div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div>         <!-- 그래픽카드 비교 -->
                            {% if (answerer_video.score) and (user_video.score) %}            <!-- 질문자와 현사용자의 그래픽카드 사양이 둘다 DB에 있을 경우 -->
                                {% if user_video.score > answerer_video.score %}
                                    <div class="card-text text-primary">VIDEOCARD : Your Videocard is Better! / Your Videocard score : {{ user_video.score }} /
                                    Answerer's Videocard score : {{ answerer_video.score }}</div>
                                {% elif user_video.score == answerer_video.score %}
                                    <div class="card-text text-primary">VIDEOCARD : Each other's Videocard score is same! / Your Videocard score : {{ user_video.score }} /
                                    Answerer's Videocard score : {{ answerer_video.score }}</div>
                                {% else %}
                                    <div class="card-text text-danger">VIDEOCARD : Your Videocard is Worse! / Your Videocard score : {{ user_video.score }} /
                                    Answerer's Videocard score : {{ answerer_video.score }}</div>
                                {% endif %}
                            {% elif (user_video.score == NONE) and (answerer_video.score) %}  <!-- 현사용자의 그래픽카드 사양이 DB에 없을 경우 -->
                                <div class="card-text text-primary">YOUR VideoCard is not in our database!</div>
                            {% elif (answerer_video.score == NONE) and (user_video.score) %} <!-- 질문자의 그래픽카드 사양이 DB에 없을 경우 -->
                                <div class="card-text text-primary">Answerer's VideoCard is not in our database!</div>
                            {% else %}
                                <div class="card-text text-primary">VIDEOCARD : OK!!!</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div>           <!-- RAM 비교 -->
                            {% if answerer_pcinfo.ram %}
                                {% if user_pcinfo.ram > answerer_pcinfo.ram %}
                                    <div class="card-text text-primary">RAM : Your RAM size is Bigger!</div>
                                {% elif user_pcinfo.ram == answerer_pcinfo.ram %}
                                    <div class="card-text text-primary">RAM : Each other's RAM size is same!</div>
                                {% else %}
                                    <div class="card-text text-danger">RAM : Your RAM size is Smaller!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">Answerer doesn't have RAM!</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div>            <!-- WINDOWS 버전 비교 /  XP<Vista<7<8<10 -->
                            {% if answerer_pcinfo.os %}
                                {% if answerer_pcinfo.os == 'XP' %}
                                    <div class="card-text text-primary">OS : Your OS is Higher!</div>
                                {% elif answerer_pcinfo.os == 'Vista' %}
                                    {% if user_pcinfo.os == 'XP' %}
                                        <div class="card-text text-danger">OS : Your OS is Lower!</div>
                                    {% else %}
                                        <div class="card-text text-primary">OS : Your OS is Higher!</div>
                                    {% endif %}
                                {% elif answerer_pcinfo.os == '7' %}
                                    {% if ((user_pcinfo.os == 'Vista') or (user_pcinfo.os == 'XP')) %}
                                        <div class="card-text text-danger">OS : Your OS is Lower!</div>
                                    {% else %}
                                        <div class="card-text text-primary">OS : Your OS is Higher!</div>
                                    {% endif %}
                                {% elif answerer_pcinfo.os == '8' %}
                                    {% if ((user_pcinfo.os == 'Vista') or (user_pcinfo.os == 'XP') or (user_pcinfo.os == '7')) %}
                                        <div class="card-text text-danger">OS : Your OS is Lower!</div>
                                    {% else %}
                                        <div class="card-text text-primary">OS : Your OS is Higher!</div>
                                    {% endif %}
                                {% elif answerer_pcinfo.os == '9' %}
                                    {% if ((user_pcinfo.os == '9') or (user_pcinfo.os == '10')) %}
                                        <div class="card-text text-primary">OS : Your OS is Higher!</div>
                                    {% else %}
                                        <div class="card-text text-danger">OS : Your OS is Lower!</div>
                                    {% endif %}
                                {% elif answerer_pcinfo.os == '10' %}
                                    {% if user_pcinfo.os == '10' %}
                                        <div class="card-text text-primary">OS : Each other's OSversion is same!</div>
                                    {% else %}
                                        <div class="card-text text-danger">OS : Your OS is Lower!</div>
                                    {% endif %}
                                {% else %}
                                {% endif %}
                            {% else %}
                                <div class="card-text text-danger">ERROR</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div>            <!-- 디스크 사용 가능 공간은 비교하지 않음 -->
                            <div class="card-text text-primary">Please check the disk space individually.</div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>


{% endblock %}
{% block script %}

{% endblock %}