<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{{ url_for('main.homepage') }}">
        <img src="https://www.pngfind.com/pngs/m/489-4892278_c-logo-black-png-transparent-png.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        CPP
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0 ms-auto" id="navbarNav">
        {% if g.user %}
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('auth.mypage') }}">{{ g.user.nickname }} 마이페이지</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">(로그아웃)</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('program.program') }}">프로그램</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('question._list') }}">정보공유 게시판</a>
            </li>
        </ul>
        {% else %}      <!-- 회원가입을 하지 않은 상태에선 뜨지않도록 함 -->
        <ul class="navbar-nav">
        </ul>
        {% endif %}
    </div>
</nav>
