{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <div class="col-8 mx-auto">
        <h2 class="border-bottom py-2">사양 비교</h2>
        <h2 class="border-bottom py-2">{{ cadinfo.name }}</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ cadinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ cadinfo.ram }}</div>
                        <div class="card-text">OS : {{ cadinfo.osversion }}</div>
                        <div class="card-text">VIDEOCARD : {{ cadinfo.videocard }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : {{ cadinfo.diskspace }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">{{ g.user.nickname }} 사용자</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ user_pcinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ user_pcinfo.ram }}</div>
                        <div class="card-text">OS : Windows {{ user_pcinfo.os }}</div>
                        <div class="card-text">VIDEOCARD : {{ user_pcinfo.graphic }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : C: {{ user_pcinfo.cdisk }} | D: {{ user_pcinfo.ddisk }} | E: {{ user_pcinfo.edisk }} | F: {{ user_pcinfo.fdisk }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">비교 결과</h2>
       <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        {% if cadinfo.cpu %}
                            {% if usercpu.score >= cadcpu.score %}
                            <div class="card-text">CPU : OK!!!</div>
                            {% else %}
                            <div class="card-text">CPU : NO!!!</div>
                            {% endif %}
                        {% else %}
                            <div class="card-text">CPU : OK!!!</div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block script %}

{% endblock %}