{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <div class="col-8 mx-auto">
        <h2 class="border-bottom py-2">사양 비교</h2>
        <h2 class="border-bottom py-2">{{ cadinfo.name }}</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ cadinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ cadinfo.ram }}</div>
                        <div class="card-text">OS : {{ cadinfo.osversion }}</div>
                        <div class="card-text">VIDEOCARD : {{ cadinfo.videocard }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : {{ cadinfo.diskspace }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">{{ g.user.nickname }} 사용자</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ user_pcinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ user_pcinfo.ram }}</div>
                        <div class="card-text">OS : Windows {{ user_pcinfo.os }}</div>
                        <div class="card-text">VIDEOCARD : {{ user_pcinfo.graphic }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : C: {{ user_pcinfo.cdisk }} | D: {{ user_pcinfo.ddisk }} | E: {{ user_pcinfo.edisk }} | F: {{ user_pcinfo.fdisk }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">비교 결과</h2>
       <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="compare_cpu">           <!-- CPU 비교 -->
                            {% if cadinfo.cpu  %}
                                {% if cadcpu == None %}     <!-- 프로그램 cpu 사양이 비었을 때 -->
                                <div class="card-text text-primary">CPU : OK!!!</div>
                                {% elif usercpu.score >= cadcpu.score %}
                                <div class="card-text text-primary">CPU : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">CPU : NO!!!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">CPU : OK!!!</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_video">         <!-- 그래픽카드 비교 -->
                            {% if cadinfo.video %}
                                {% if uservideo.score >= cadvideo.score %}
                                <div class="card-text text-primary">VIDEOCARD : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">VIDEOCARD : NO!!!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">VIDEOCARD : OK!!!</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_ram">           <!-- RAM 비교 -->
                            {% if cadinfo.ram %}
                                {% if user_pcinfo.ram >= cadinfo.ram %}
                                <div class="card-text text-primary">RAM : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">RAM : NO!!!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">RAM : OK!!!</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_os">            <!-- WINDOWS 버전 비교 /  XP<Vista<7<8<10 -->
                            {% if cadinfo.osversion %}
                                {% if cadinfo.osversion == 'Vista' %}
                                    {% if user_pcinfo.os == 'XP' %}
                                        <div class="card-text text-danger">OS : NO!!!</div>
                                    {% else %}
                                        <div class="card-text text-primary">OS : OK!!!</div>
                                    {% endif %}
                                {% elif cadinfo.osversion == 'XP' %}
                                    <div class="card-text text-primary">OS : OK!!!</div>
                                {% elif user_pcinfo.os == 'XP' %}
                                    <div class="card-text text-danger">OS : NO!!!</div>

                                {% else %}
                                    {% if user_pcinfo.os >= cadinfo.osversion %}
                                        <div class="card-text text-primary">OS : OK!!!</div>
                                    {% else %}
                                        <div class="card-text text-danger">OS : NO!!!</div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                    <div class="card-text text-danger">OS : NO!!!</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_disk">          <!-- FREE DISK SPACE 용량 비교 -->
                            {% if cadinfo.diskspace %}
                                {% if user_pcinfo.cdisk >= cadinfo.diskspace %}
                                <div class="card-text text-primary">C_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">C_disk : NO!!!</div>
                                {% endif %}
                                {% if user_pcinfo.ddisk >= cadinfo.diskspace %}
                                <div class="card-text text-primary">D_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">D_disk : NO!!!</div>
                                {% endif %}
                                {% if user_pcinfo.edisk >= cadinfo.diskspace %}
                                <div class="card-text text-primary">E_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">E_disk : NO!!!</div>
                                {% endif %}
                                {% if user_pcinfo.fdisk >= cadinfo.diskspace %}
                                <div class="card-text text-primary">F_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">F_disk : NO!!!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">ALL_disk : OK!!!</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block script %}

{% endblock %}