{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <div class="col-8 mx-auto">
        <h2 class="border-bottom py-2">사양 비교</h2>
        <h2 class="border-bottom py-2">{{ gameinfo.name }}</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ gameinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ gameinfo.ram }}</div>
                        <div class="card-text">OS : {{ gameinfo.osversion }}</div>
                        <div class="card-text">VIDEOCARD : {{ gameinfo.videocard }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : {{ gameinfo.diskspace }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">{{ g.user.nickname }} 사용자</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ user_pcinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ user_pcinfo.ram }}</div>
                        <div class="card-text">OS : Windows {{ user_pcinfo.fullos }}</div>
                        <div class="card-text">VIDEOCARD1 : {{ user_pcinfo.graphic1 }}</div>
                        <div class="card-text">VIDEOCARD2 : {{ user_pcinfo.graphic2 }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : C: {{ user_pcinfo.cdisk }} | D: {{ user_pcinfo.ddisk }} | E: {{ user_pcinfo.edisk }} | F: {{ user_pcinfo.fdisk }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">비교 결과</h2>
       <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="compare_cpu">
                            {% if gamecpu != None %}
                                {% if gamecpu == None %}     <!-- 프로그램 cpu 사양이 비었을 때 -->
                                <div class="card-text text-primary">CPU : OK!!! / usercpu score : {{ usercpu.score }} /
                                    gamecpu score : {{ gamecpu.score }}</div>
                                {% elif usercpu.score >= gamecpu.score %}
                                <div class="card-text text-primary">CPU : OK!!! / usercpu score : {{ usercpu.score }} /
                                    gamecpu score : {{ gamecpu.score }}</div>
                                {% else %}
                                <div class="card-text text-danger">CPU : NO!!! / usercpu score : {{ usercpu.score }} /
                                    gamecpu score : {{ gamecpu.score }}</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">CPU : OK!!! This program does not require cpu. </div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_video">
                            {% if gamevideo.score %}
                                {% if uservideo.score >= gamevideo.score %}
                                <div class="card-text text-primary">VIDEOCARD : OK!!! / uservideo score : {{ uservideo.score }} /
                                game score : {{ gamevideo.score }}</div>
                                {% else %}
                                <div class="card-text text-danger">VIDEOCARD : NO!!! / uservideo score : {{ uservideo.score }} /
                                game score : {{ gamevideo.score }}</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">VIDEOCARD : OK!!! / uservideo score : {{ uservideo.score }} /
                                gamevideo score : {{ gamevideo.score }}</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_ram">
                            {% if gameinfo.ram %}
                                {% if user_pcinfo.ram >= gameinfo.ram %}
                                <div class="card-text text-primary">RAM : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">RAM : NO!!!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">RAM : OK!!!</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_os">
                            {% if gameinfo.osversion %}
                                {% if gameinfo.osversion == 'XP' %}
                                <div class="card-text text-primary">OS : OK!!!</div>
                                {% elif gameinfo.osversion == 'Vista' %}
                                    {% if user_pcinfo.os == 'XP' %}
                                        <div class="card-text text-danger">OS : NO!!!</div>
                                    {% else %}
                                        <div class="card-text text-primary">OS : OK!!!</div>
                                    {% endif %}
                                {% elif gameinfo.osversion == '7' %}
                                    {% if ((user_pcinfo.os == 'Vista') or (user_pcinfo.os == 'XP')) %}
                                        <div class="card-text text-danger">OS : NO!!!</div>
                                    {% else %}
                                        <div class="card-text text-primary">OS : OK!!!</div>
                                    {% endif %}
                                {% elif gameinfo.osversion == '8' %}
                                    {% if ((user_pcinfo.os == 'Vista') or (user_pcinfo.os == 'XP') or (user_pcinfo.os == '7')) %}
                                        <div class="card-text text-danger">OS : NO!!!</div>
                                    {% else %}
                                        <div class="card-text text-primary">OS : OK!!!</div>
                                    {% endif %}
                                {% elif gameinfo.osversion == '9' %}
                                    {% if ((user_pcinfo.os == '9') or (user_pcinfo.os == '10')) %}
                                        <div class="card-text text-primary">OS : OK!!!</div>
                                    {% else %}
                                        <div class="card-text text-danger">OS : NO!!!</div>
                                    {% endif %}
                                {% elif gameinfo.osversion == '10' %}
                                    {% if user_pcinfo.os == '10' %}
                                        <div class="card-text text-primary">OS : OK!!!</div>
                                    {% else %}
                                        <div class="card-text text-danger">OS : NO!!!</div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                    <div class="card-text text-danger">OS : NO!!!</div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="compare_disk">
                            {% if gameinfo.diskspace %}
                                {% if user_pcinfo.cdisk >= gameinfo.diskspace %}
                                <div class="card-text text-primary">C_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">C_disk : NO!!!</div>
                                {% endif %}
                                {% if user_pcinfo.ddisk >= gameinfo.diskspace %}
                                <div class="card-text text-primary">D_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">D_disk : NO!!!</div>
                                {% endif %}
                                {% if user_pcinfo.edisk >= gameinfo.diskspace %}
                                <div class="card-text text-primary">E_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">E_disk : NO!!!</div>
                                {% endif %}
                                {% if user_pcinfo.fdisk >= gameinfo.diskspace %}
                                <div class="card-text text-primary">F_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text text-danger">F_disk : NO!!!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text text-primary">ALL_disk : OK!!!</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block script %}

{% endblock %}