{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <div class="col-8 mx-auto">
        <h2 class="border-bottom py-2">사양 비교</h2>
        <h2 class="border-bottom py-2">{{ gameinfo.name }}</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ gameinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ gameinfo.ram }}</div>
                        <div class="card-text">OS : {{ gameinfo.osversion }}</div>
                        <div class="card-text">VIDEOCARD : {{ gameinfo.videocard }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : {{ gameinfo.diskspace }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">{{ g.user.nickname }} 사용자</h2>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">CPU : {{ user_pcinfo.cpu }}</div>
                        <div class="card-text">RAM(GB) : {{ user_pcinfo.ram }}</div>
                        <div class="card-text">OS : Windows {{ user_pcinfo.os }}</div>
                        <div class="card-text">VIDEOCARD : {{ user_pcinfo.graphic }}</div>
                        <div class="card-text">FREE DISK SPACE(MB) : C: {{ user_pcinfo.cdisk }} | D: {{ user_pcinfo.ddisk }} | E: {{ user_pcinfo.edisk }} | F: {{ user_pcinfo.fdisk }}</div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="border-bottom py-2">비교 결과</h2>
       <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="compare_cpu">
                            {% if gameinfo.cpu %}
                                {% if gamecpu == None %}
                                 <div class="card-text">CPU : OK!!!</div>
                                {% elif usercpu.score >= gamecpu.score %}
                                <div class="card-text">CPU : OK!!!</div>
                                {% else %}
                                <div class="card-text">CPU : NO!!!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text">CPU : OK!!!</div>
                            {% endif %}
                        </div>
                        <div class="compare_video">
                            {% if gameinfo.video %}
                                {% if uservideo.score %}
                                    {% if uservideo.score >= gamevideo.score %}
                                    <div class="card-text">Video card : OK!!!</div>
                                    {% else %}
                                    <div class="card-text">Video card : NO!!!</div>
                                    {% endif %}
                                {% else %}
                                <div class="card-text">We don't have data of user's video card</div>
                                {% endif %}
                            {% else %}
                            <div class="card-text">We don't have data of program's video card</div>
                            {% endif %}
                        </div>
                        <div class="compare_ram">
                            {% if gameinfo.ram %}
                                {% if user_pcinfo.ram >= gameinfo.ram %}
                                <div class="card-text">RAM : OK!!!</div>
                                {% else %}
                                <div class="card-text">RAM : NO!!!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text">RAM : OK!!!</div>
                            {% endif %}
                        </div>
                        <div class="compare_os">
                            {% if gameinfo.osversion %}
                                {% if gameinfo.osversion == 'Vista' %}
                                    {% if user_pcinfo.os == 'XP' %}
                                        <div class="card-text">OS : NO!!!</div>
                                    {% else %}
                                        <div class="card-text">OS : OK!!!</div>
                                    {% endif %}
                                {% elif gameinfo.osversion == 'XP' %}
                                    <div class="card-text">OS : OK!!!</div>
                                {% elif user_pcinfo.os == 'XP' %}
                                    <div class="card-text">OS : NO!!!</div>
                                {% else %}
                                    {% if user_pcinfo.os >= gameinfo.osversion %}
                                        <div class="card-text">OS : OK!!!</div>
                                    {% else %}
                                        <div class="card-text">OS : NO!!!</div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                    <div class="card-text">OS : NO!!!</div>
                            {% endif %}
                        </div>
                        <div class="compare_disk">
                            {% if gameinfo.diskspace %}
                                {% if user_pcinfo.cdisk >= gameinfo.diskspace %}
                                <div class="card-text">C_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text">C_disk : NO!!!</div>
                                {% endif %}
                                {% if user_pcinfo.ddisk >= gameinfo.diskspace %}
                                <div class="card-text">D_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text">D_disk : NO!!!</div>
                                {% endif %}
                                {% if user_pcinfo.edisk >= gameinfo.diskspace %}
                                <div class="card-text">E_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text">E_disk : NO!!!</div>
                                {% endif %}
                                {% if user_pcinfo.fdisk >= gameinfo.diskspace %}
                                <div class="card-text">F_disk : OK!!!</div>
                                {% else %}
                                <div class="card-text">F_disk : NO!!!</div>
                                {% endif %}
                            {% else %}
                                <div class="card-text">ALL_disk : OK!!!</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% block script %}

{% endblock %}