{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <div id="main">
        <h1> 프로그램 선택 페이지</h1>
        <h2>확인을 원하는 카테고리를 골라주세요.</h2>
    </div>
    <div id="button">
        <a href="{{ url_for('question._list') }}" class="btn btn-secondary">QUESTION</a>
        <a href="{{ url_for('program.cad') }}" class="btn btn-info">CAD</a>
        <a href="{{ url_for('program.game') }}" class="btn btn-info">GAME</a>
        <a href="{{ url_for('program.illust') }}" class="btn btn-info">ILLUSTRATOR</a>
        <br>
        <br>
        <p>
            <a href="{{ url_for('program.download') }}" class="btn btn-light" style="text-align:center">사양 체크 프로그램 다운로드!</a>
        </p>
    </div>


{% endblock %}