{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="col-12 mx-auto">
            <hr class="featurette-divider">
        <div id="main1" class="container marketing">
            <div class="p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">프로그램 사양 비교</h1>
                <p class="fs-5 text-muted">원하는 카테고리를 고르고 프로그램을 선택해주세요.</p>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="bd-placeholder-img rounded-circle" width="300" height="300" src="../static/images/CAD.jpg"></img>

                        <h2>CAD</h2>
                        <p>캐드</p>
                        <p><a class="btn btn-secondary" href="{{ url_for('program.cad') }}">목록 확인 &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="bd-placeholder-img rounded-circle" width="300" height="300" src="../static/images/GAME.png"></img>

                        <h2>GAME</h2>
                        <p>게임</p>
                        <p><a class="btn btn-secondary" href="{{ url_for('program.game') }}">목록 확인 &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="bd-placeholder-img rounded-circle" width="300" height="300" src="../static/images/ILLUSTRATION.png"></img>

                        <h2>ILLUSTRATOR</h2>
                        <p>일러스트레이터</p>
                        <p><a class="btn btn-secondary" href="{{ url_for('program.illust') }}">목록 확인 &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div>
        </div>
            <hr class="featurette-divider">
        <div>
            <a href="{{ url_for('main.homepage') }}" class="btn btn-secondary col-2">&laquo; 메인으로</a>
        </div>
    </div>
</div>
{% endblock %}
