{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <h2 class="border-bottom py-2">탈퇴하시면 돌이킬수 없어, 알지?</h2>
        <div class="row my-3">
            <div class="form-group">
                <label for="codenum">회원가입시 발급받은 개인 코드를 입력해주세요.</label>
                <input type="text" class="form-control" name="codenum" id="codenum"
                   value="{{ form.codenum.data or '' }}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">탈퇴하기</button>
    </form>
</div>

{% endblock %}